@import '~bootstrap-sass/assets/stylesheets/bootstrap';

#content, #footer {
  height: 500px;
  width: 800px;
  margin: auto;
  cursor: default;
  padding: 1rem;
}

#content {
  height: calc(100vh - 45px);

  & > h1 {
    width: 100%;
    text-align: center;
  }

  & > .wide {
    width: 100%;
  }

  & > .button-container {
    margin: 2rem 0;
  }

  & > .form-container {
    width: 400px;
    margin: auto;
  }
}

#footer {
  height: 45px;
  text-align: center;
  background: rgba(0,0,0,0.3);
  color: white;
  font-size: 2rem;
}