#content, #footer {
  height: 500px;
  width: 800px;
  margin: auto;
}

#content {
  height: calc(100vh - 80px);
}

#footer {
  height: 80px;
  text-align: center;
}

h1 {
  width: 100%;
  text-align: center;
}