{% extends "common/base.html.twig" %}

{% block title %}Details of item id {{ id }} {% endblock %}

{% block content %}
    <h1>Item view</h1>
    <h4>Item id {{ id }}</h4>

    <a href="{{ path('collection_list', {'page': 5}) }}">
        Return to list
    </a>
{% endblock %}

