<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <title>{% block title %}{% endblock %} - My Collection</title>
    {% endblock %}

    <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
</head>
<body>
<div id="content">{% block content %}{% endblock %}</div>

{% block scripts %}
    <script src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}

<div id="footer">
    {% block footer %}
        &copy; Copyright 2018 by Kamil Roczniok.
    {% endblock %}
</div>
</body>
</html>